tbody tr:hover{
	background-color: #dddddd40;	
}
html, body{
	cursor: url(img/cursor.png), auto;
}
h2{
	text-align: center;
	font-weight: bold !important;
	color: #3BAEEE !important;
}
p{
	text-align: center;
	margin-bottom: 2% !important;
}
table, th, td, thead{
	text-align: center !important;
}